{% load static %}
{% load flatpages %}{# статическая страница типа "о нас" #}

<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap4/bootstrap.min.css' %}">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<link href="{% static 'css/cropper.min.css' %}" rel="stylesheet"> {# это файлы приложения cropimage cropper#}

	<title>
		{% block title %} Переводчиские услуги {% endblock %}
	</title>

</head>

<body> <!-- <body onclick = "link_click(event)" - используется для моей функции в blog.html> -->

	<!-- Верхняя шапка меню -->
	<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
		<a class="navbar-brand" href="{% url 'blog_url' %}">Blog</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'first_list_url' %}">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'send_contact_url' %}">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Modal action</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="{% url 'export_users_csv' %}">download data users excel</a>
						<a class="dropdown-item" href="{% url 'heading_create_url' %}">Creat heading</a>
						<a class="dropdown-item" href="{% url 'search_url' %}">Search User</a>
					</div>
				</li>
			</ul>
			<!-- Смотри как делается поиск и запомни это важно-->
			<form class="form-inline my-2 my-lg-0" action="{% url "blog_url" %}">
				<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search">
				<button id="search_dropdown" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search
				</button>
			</form>
		</div>
	</nav>
	
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true" >
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>		
	</div>
	
	<div id="sear">
		<ul class="men-item col-6">
			Меню1
			<li class="submenu">
				Подменю1
			</li>
			<li class="submenu">
				Подменю2
			</li>
			<li class="submenu">
				Подменю3
			</li>
		</ul>

	</div>
	
	<a class="menu-link menu-link_active" href="#menu">
		<span></span>
	</a> 

	<h1 id="ahab">AHAB</h1>   

{% block jumbotron %}

{% endblock %}


<div class="container-fluid">
	<!-- Example row of columns -->
	
	<div class="row text-center justify-content-center">
		{% for heading in headings %}

			<div class="col-md-4">
			
				<h2>{{ heading.title }}</h2>
				<p>

					{{ heading.text|truncatewords:20 }}

				</p>
				<p>
					<a class="btn btn-secondary" href="{{ heading.get_absolute_url }}" role="button">View details &raquo;
					</a>
				</p>
		
			</div>
			
		{% endfor %}
	</div>
	<hr>
	
</div> <!-- /container -->
{#  Multiple Files Upload Using Ajax #}

{% block photos_content %}
{% endblock %}

<!-- Это блог с комментариями и лайками -->
<div class="container-fluid"> <!-- Это настройки выведены за пределами {{block}} верхние и боковые отступы -->
	<div class="row">
		<div class="col-6 offset-md-2">

			
			{% block content %}

			{% endblock %}

			
<!--это фича  ?next={{request.path}} позволяет после регистрации остоваться там где ты был изночально. и не нужно делать include на другой шаблон-->
			<div>
				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li class="{{ message.tags }}">{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% if user.is_authenticated %}
					<li>User: {{ user.get_username }}</li>
					<li><a href="{% url 'logout_url' %}?next={{request.path}}">Logout</a></li>   
				{% else %}
					<li><a href="{% url 'log_url' %}?next={{request.path}}">Login</a></li>   
				{% endif %}
			</div>



		</div>
	</div>
</div>


{% get_flatpages as flatpages %}
<footer class="root">
	{% for page in flatpages %}
		<a href="/pages{{ page.url }}">
			<p>&copy; artAhab company 2018-2019</p>
	 	</a>
	 {% endfor %}

{% load translate %}
{% get_attribute 'SITE_URL' %} 	
</footer>


 <!-- Optional JavaScript -->
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!-- обязательно блок прописываем после инициализации настроек javascript -->
<script type="text/javascript" src="{% static 'js/dropdownSearch.js' %}"></script>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


{% block javascript %}

{% endblock %}

</body>


</html>




